#main{
	width: 960px;
	height: 500px;
	margin:0px auto;
  padding: 20px;
	border:1px solid #000;
	border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

#tag{

  width: 920px;
  height: 300px;
}

.toolbar-item {
  background-image: url(../images/toolbar.png);
  background-repeat: no-repeat; }

.toolbar {
  position: fixed;
  right: 30px;
  bottom: 25px;
  margin-left: -26px; }

.toolbar-item {
  position: relative;
  display: block;
  width: 52px;
  height: 52px;
  margin-top: 1px;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  -ms-transition: background-position 1s;
  -o-transition: background-position 1s;
  transition: background-position 1s; }
  .toolbar-item:hover .toolbar-layer {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.toolbar-item-weixin {
  background-position: 0 -798px; }
  .toolbar-item-weixin:hover {
    background-position: 0 -860px; }
  

.toolbar-item-top {
  background-position: 0 -674px; }
  .toolbar-item-top:hover {
    background-position: 0 -736px; }

.toolbar-layer {
  height: 390px;
  width: 400px;
  padding: 15px;
  background: #E5EDF6;
  position: absolute;
  right: 52px;
  bottom: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform-origin: 98% 98%;
  -moz-transform-origin: 98% 98%;
  -ms-transform-origin: 98% 98%;
  -o-transform-origin: 98% 98%;
  transform-origin: 98% 98%;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
.toolbar-layer ul li{
  width:100%;
  height: 130px;
}
.toolbar-layer img{
   display: block;
   float: left;
   width: 100px;
   height: 100px;
}
.toolbar-layer p{
   margin-left: 120px;
}
.toolbar-layer span{
  display: block;
  margin-top: 3px;
}
/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
svg {
    font: 8em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
    background: #212121;
  background-size: .2em 100%;
  position: absolute;
  width: 920px;
  height: 220px;

  border-radius: 15px;
  
}


